#filters {
	margin:1%;
	padding:0;
	list-style:none;
}

	#filters li {
		float:left;
	}
	
	#filters li span {
		display: block;
		padding:5px 20px;		
		text-decoration:none;
		color:#666;
		cursor: pointer;
	}
	
	#filters li span.active {
		background: #e95a44;
		color:#fff;
	}
 

 
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:25%;
	margin:00%;
	display:none;
	float:left;
	overflow:hidden;
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		background: #666;
		cursor:pointer;
	}
        .portfolio .title {
            background: rgba(255,255,255,0.6);
            height: 40px;
            line-height: 40px;
            color: #000;
            font-size: 14px;
            text-align: center;
            font-weight: bold;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            -webkit-transition: background 0.5s, color 0.5s;
            transition: background 0.5s, color 0.5s;
            overflow: hidden;
        }
        .portfolio:hover .title {
            background: rgba(27,188,155,0.8);
            color: #FFF;
        }
	.portfolio img {
		max-width:100%;
		position: relative;
	}
	
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
                line-height: 40px;
                overflow: hidden;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}

		.portfolio .label-bg {
			background: #1bbc9b;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
	
		.portfolio .label-text {
			color:#fff;
			position: relative;
                        font-size: 14px;
			z-index:500;
		}
			
			.portfolio .text-category {
				display:block;
				font-size:9px;
			}
	
	
	




/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	#portfoliolist .portfolio {
		width:50%;
		margin:0%;
	}		

	#ads {
		display:none;
	}
	
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#ads {
		display:none;
	}
	
}

/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
